%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = form_tag update_queue_path do
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @queue_members.each do |member|
                %tr
                  %td
                    = hidden_field_tag 'queue_members[][id]', member.id
                    = text_field_tag 'queue_members[][position]', member.list_order, class: 'form-control'
                  %td
                    = link_to member.video_title, member.video
                  %td
                    = button_to "Play", nil, class: "btn btn-default"
                  %td
                    = select_tag('queue_members[][rating]', options_for_select((1..5).map { |num| ["#{num} #{'star'.pluralize num}", num] }), class: 'form-group')
                    = member.rating
                    -# %select.form-group(name="")
                    -#   %option(value="5") 5 Stars
                    -#   %option(value="4") 4 Stars
                    -#   %option(value="3") 3 Stars
                    -#   %option(value="2") 2 Stars
                    -#   %option(value="1") 1 Star
                  %td
                    = link_to member.category_name, member.video.category
                  %td
                    = link_to queue_member_path(member), method: :delete do
                      %i.glyphicon.glyphicon-remove
          = submit_tag 'Update Instant Queue', class: 'btn btn-default'
