%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")
          %h2 #{@user.full_name}'s queue (#{@user.queue_members.count})
          - if current_user.is_following? @user
            = link_to 'Unfollow', unfollow_user_path(@user), class: 'btn btn-default pull-right', method: :delete
          - else
            = link_to 'Follow', follow_user_path(@user), class: 'btn btn-primary pull-right', method: :post
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_members.each do |queue_member|
              %tr
                %td
                  = link_to queue_member.video_title, queue_member.video
                %td
                  = link_to queue_member.category_name, queue_member.category

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.reviews.count})
      %ul
        - @user.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to review.video_title, review.video
                %col Rating: #{review.rating} / 5
              .col-sm-8
                %p= review.body
