%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: { class: 'form-horizontal' } do |f|
          %ul.nav.nav-tabs
            %li= link_to 'Recent Payments', admin_payments_path
            %li.active= link_to 'Add a New Video', new_admin_video_path
          %br
          %fieldset.col-sm-6
            = f.text_field :title
            = f.collection_select :category_id, @categories, :id, :name
            = f.text_area :description
            = f.file_field :large_cover, label: 'Large Cover', class: 'btn btn-file'
            = f.file_field :small_cover, label: 'Small Cover', class: 'btn btn-file'
            = f.file_field :watch_url, label: 'Video URL', class: 'span-3'
            .actions.col-sm-6
              = f.submit 'Add Video'
